{% extends "main/base.html" %}
{% load static %}
{% block page_css %}
<link rel="stylesheet" href="{% static 'agenda/css/styles.css' %}?v=4">
{% endblock %}
{% block contenido %}
<main class="page">
  <h1>{{ titulo }}</h1>
  <section class="card form-card">
    <form method="post" class="form-grid" novalidate>
      {% csrf_token %}
      {% include "productos/_form_fields.html" %}
      <div class="actions col-2">
        <button class="btn-primary" type="submit">Guardar</button>
        <a class="btn-ghost" href="{% url 'productos:lista' %}">Cancelar</a>
      </div>
    </form>
  </section>
</main>
{% endblock %}
